.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 153px;
    transform: translateY(-50%);
    color: #999;
}