.building-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .tab-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tab {
    display: flex;
    align-items: center;
    background-color: red;
    padding: 20px;
  }
  
  .tab img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .logos img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 153px;
    transform: translateY(-50%);
    color: #999;
  }
  
  .search-input {
    padding: 8px 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 250px;
  }
  
  .sort-container {
    display: flex;
    align-items: center;
  }
  
  .sort-select {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
  }
  
  .table {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th:first-child,
  td:first-child {
    min-width: 50px;
  }
  
  th:nth-child(2),
  td:nth-child(2) {
    min-width: 150px;
  }
  
  th:nth-child(3),
  td:nth-child(3) {
    min-width: 150px;
  }
  
  th:nth-child(4),
  td:nth-child(4) {
    min-width: 200px;
  }
  
  th:nth-child(5),
  td:nth-child(5) {
    min-width: 100px;
  }
  
  th:nth-child(6),
  td:nth-child(6) {
    min-width: 80px;
  }
  
  th:last-child,
  td:last-child {
    min-width: 100px;
  }
  
  .popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .popup-content {
    margin-bottom: 20px;
  }

  .popup-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .popup-buttons button {
    margin-left: 10px;
  }
  
  .additional-tab {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #D02D2D;
    padding: -10 -10px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  }
  
  .background-image {
    position: relative;
    overflow: hidden;
    background-size: contain;
    width: 20%;
    height: 100%;
    padding-right: 16%;
    /* Add any additional styles for the background image */
  }
  
  .content {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    /* Add any additional styles for the logos */
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: #D02D2D;
  }

  .text {
    font-family: 'Andada Pro', sans-serif;
    margin: 0 10px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    font-style: normal;
    font-weight: 50;
    padding: 20px;
    font-size: 15px;
  }
  
  .text p {
    margin: 2px 0;
  }

  .next-button {
    background-color: blueviolet;
    border-radius: 50%;
    color: white;
    padding: 5px;
  }
  
  .next-button:hover {
    background-color: red;
  }
  
  